.section-marketplaces {
  background-color: #f3f5f6;
  .section-layer {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 2.1rem;
  }

  .marketplaces-list_mobile {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    .mp-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__link {
        display: block;
        cursor: pointer;
        img {
          max-width: 9.6rem;
        }
      }

      &__name {
        @include text-main;
        color: #a2abb4;
      }
    }
  }
  .marketplaces-list_desktop {
    display: none;
  }

  @media (min-width: 600px) {
    .section-layer {
      padding-bottom: 6.5rem;
    }
    .marketplaces-list_mobile {
      display: none;
      // display: flex;
      // justify-content: space-between;
      // padding-left: 1rem;
      // padding-right: 1rem;
      // .mp-item {
      //   display: flex;
      //   flex-direction: column;
      //   align-items: center;
      //   &__link {
      //     display: block;
      //     cursor: pointer;
      //     img {
      //       max-width: 9.6rem;
      //     }
      //   }

      //   &__name {
      //     @include text-main;
      //     color: #a2abb4;
      //   }
      // }
    }
    .marketplaces-list_desktop {
      display: flex;
      justify-content: space-between;
      .mp-item {
        display: flex;
        align-items: center;
        border-radius: 1.6rem;
        border: 0.4px solid #fff;
        background-color: rgba(211, 217, 223, 0.6);
        width: 30%;
        max-width: 33rem;
        height: 15rem;
        padding-left: 3vw;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: .4s;
        &__info {
          display: flex;
          flex-direction: column;
          transition: .4s;
        }

        &__name {
          @include text-main;
          font-weight: 700
        }

        &__link {
          @include text-small;
        }
        img {
          position: absolute;
          right: -1.5vw;
          bottom: -1.5vw;
          width: 10.5vw;
          // max-width: 15rem;
        }
        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }
}
